@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
html {
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: normal;
}
.hero h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
}
.hero p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}
.get-started h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 30px;
}
p {
  font-size: 24px;
}
a.nav-link {
  color: #7295d9 !important;
  font-size: 18px;
  text-transform: uppercase;
}
a.nav-link .active {
  color: #000000;
}
@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 17px;
  }
}
body,
.container-fluid {
  padding: 0;
  margin: 0;
}
.centre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7295d9;
  padding: 2rem;
  padding-left: 6em;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.row-title {
  padding-bottom: 2rem;
}
.courses,
.prerequesites {
  padding: 0 4rem;
  padding-top: 5rem;
  text-align: center;
}
.prerequesites p {
  padding-top: 1rem;
}
.prerequesites {
  background-color: rgba(114, 149, 217, 0.1);
}
.get-started {
  padding-top: 4rem;
  height: 70vh;
  background-color: rgba(114, 149, 217, 0.1);
}
.get-started > .col-md-4 {
  top: 70%;
  left: 12%;
}
.signup {
  margin: auto;
}
.course-header {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7295d9;
  padding: 2rem;
  padding-left: 6em;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.course-sub {
  padding-bottom: 4rem;
}
.course-content {
  background-color: rgba(114, 149, 217, 0.1);
  padding: 2rem;
}
.tab-pane .list-group li {
  background-color: rgba(114, 149, 217, 0.1);
}
footer {
  padding-left: 10%;
  padding-top: 5rem;
}
.hero img {
  height: 330px;
}
img.line {
  padding: 1rem;
}
.get-started img {
  height: 38vh;
  width: 85%;
}
footer img {
  width: 165px;
  height: 60px;
}
@media (max-width: 576px) {
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .hero {
    text-align: center;
    padding-left: 0;
    width: 100vw;
    align-items: center;
    background-color: #7295d9;
    padding: 2rem;
  }
  .hero p {
    font-size: 16px;
    line-height: 22px;
  }
  .hero img,
  .get-started img {
    display: none;
  }
  .courses,
  .prerequesites {
    padding: 0 1rem;
    padding-top: 3rem;
    text-align: center;
  }
  .get-started {
    padding-top: 1rem;
  }
  .course-header {
    width: 100vw;
    height: 70vh;
    background-color: #7295d9;
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
  }
  .course-sub {
    padding-bottom: 0;
  }
  .course-content {
    padding: 1rem;
  }
}
.blue {
  color: #7295d9;
}
.purple {
  color: #8f34e2;
}
.grey {
  color: #4e4e4e;
}
.gold {
  color: #ffb93e;
}
.green {
  color: #2da503;
}
.white {
  color: #ffffff;
}
.nav-item .nav-link li {
  color: #7295d9;
}
.nav-item .nav-link li .active a {
  color: #000000;
}
img.logo {
  width: 150px;
  height: 49px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #8f34e2;
  border-bottom: 6px solid #8f34e2;
}
.nav-tabs .nav-link {
  border: 0px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
@media (max-width: 576px) {
  img.logo {
    width: 147px;
    height: 47px;
  }
}
.btn-purple-primary {
  background: #8f34e2;
  border-radius: 40px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 34px;
  padding: 15px 20px;
}
.btn-gold-primary {
  background: #ffffff;
  border-radius: 40px;
  color: #ffb93e;
  font-size: 19px;
  font-weight: bold;
  padding: 15px 20px;
  text-transform: uppercase;
}
.btn-green-primary {
  background: #2da503;
  color: #ffffff;
  font-size: 20px;
  line-height: 34px;
  text-transform: uppercase;
  padding: 1rem;
}
.btn-blue-primary {
  background: #7295d9;
  color: #ffffff;
  padding: 20px 30px;
  width: 70%;
}
.btn-collapse {
  background: #8f34e2;
  border-radius: 10px;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}
.btn-primary-small {
  background: #ffffff;
  border: 1px solid #7295d9;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 22px;
  line-height: 31px;
  color: #7295d9;
}
.btn-primary-small-filled {
  background: #7295d9;
  border: 1px solid #7295d9;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 19px;
  line-height: 31px;
  color: #ffffff;
}
.card {
  padding: 1rem;
}
.card .card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 42px;
  color: #8f34e2;
}
.card p {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 25px;
  color: #4e4e4e;
  text-align: left;
}
@media (max-width: 576px) {
  .btn-purple-primary {
    width: 100%;
  }
  .btn-blue-primary {
    width: 90%;
  }
}
form > form-group > input {
  height: 50px !important;
}
