/* global */
body,
.container-fluid {
	padding: 0;
	margin: 0;
}

/* =========================================== */
/* Headings start */

/* Heading end */

/* =========================================== */
/* Navbar start*/

/* Navbar end*/

/* Hero/Header */
.hero {
	width: 100vw;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eeeeee;
	padding: 2rem;
	padding-left: 6em;
	background-repeat: no-repeat;
	background-size: cover;
}
/* Hero/Header  end*/

/* Course Card */
.courses {
	padding-left: 10%;
	padding-top: 5rem;
}
/* Course Card end */

/* Prerequisites */
.prequesites {}

/* Media queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.hero {
		padding-left: 7em;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
