// Buttons
.btn-purple-primary {
	background: @purple;
	border-radius: 40px;
	color: @white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 34px;
	padding: 15px 20px;
}

.btn-gold-primary {
	background: @white;
	border-radius: 40px;
	color: @gold;
	font-size: 19px;
	font-weight: bold;
	padding: 15px 20px;
	text-transform: uppercase;
}

.btn-green-primary {
	background: @green;
	color: @white;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	padding: 0.5em;
}

.btn-blue-primary {
	background: @blue;
	color: @white;
	padding: 20px 30px;
	width: 70%;
}

.btn-collapse {
	background: @purple;
	border-radius: 10px;
	font-weight: 500;
	font-size: 13px;
	text-transform: uppercase;
}

.btn-primary-small {
	background: @white;
	border: 1px solid @blue;
	box-sizing: border-box;
	border-radius: 6px;

	font-size: 22px;
	line-height: 31px;
	color: @blue;
}

.btn-primary-small-filled {
	background: @blue;
	border: 1px solid @blue;
	box-sizing: border-box;
	border-radius: 6px;

	font-size: 19px;
	line-height: 31px;
	color: @white;
}

// Form fields

// Cards
.card {
	padding: 1rem;

	.card-title {
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 42px;
		color: @purple;
	}
	p {
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 31px;
		color: @grey;
		text-align: left;
	}
}
