form > form-group > input {
	height: 50px !important;
}

.signup {
	padding-top: 40px;
}

.form-body {
	padding-top: 30px;
}
.signup-form {
	padding-top: 0px;
}

.password {
	padding-top: 20px;
}

.column {
	padding-left: 5px;
	float: left;
	width: 33.33%;
	padding: 5px;
}

/* Clear floats after image containers */
.row::after {
	content: '';
	clear: both;
	display: table;
}

.or {
	display: block;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #dee3e4;
	position: relative;
	margin: 20px 0;
}

.or:before {
	content: 'or';
	width: 40px;
	height: 18px;
	position: absolute;
	top: -5px;
	right: calc(50% - 20px);
	background-color: @white;
	text-align: center;
	line-height: 10px;
	color: #555;
}
.login-with-fb:hover,
.login-with-google:hover,
.login-with-indeed:hover {
	opacity: 1;
}

.footer {
	margin-top: 10px;
}

.button {
	background-color: @blue;
	border-color: @blue;

	a {
		color: @white;
	}
}

.button:hover {
	background-color: @purple;
	border-color: @purple;
}

.btn-outline-dark {
	color: @white;
}

.btn-login {
	background-color: @white;
	color: @grey;
	border-color: @grey;
}
.btn-login:hover {
	background-color: @white;
	border-color: @white;
	color: @grey;
}

.btn-signup {
	background-color: @blue;
	border-color: @blue;
	color: @white;
}
.btn-signup:hover {
	background-color: @purple;
	border-color: @purple;
}

.btn-login2 {
	background-color: @blue;
	border-color: @blue;
	color: @white;
}
.btn-login2:hover {
	background-color: @purple;
	border-color: @purple;
}

.btn-signup2 {
	background-color: @white;
	color: @grey;
	border-color: @grey;
}

.btn-signup2:hover {
	background-color: @white;
	border-color: @white;
	color: @grey;
}
