@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
	font-family: 'Roboto' sans-serif;
	font-style: normal;
	font-weight: normal;
}

.hero h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 45px;
}

.hero p {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 34px;
}

.get-started h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 45px;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 30px;
}

p {
	font-size: 24px;
}

@media (max-width: 576px) {
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 17px;
	}
}
